<nav class="nav">
  <div class='container'>
    <div class="nav-left">
      <a class="nav-item is-brand" href="/">
        <h1 class="title title-text is-large">
          Roots.
        </h1>
        <!-- <img src="/images/bulma-type.png" alt="Bulma logo"> -->
      </a>
    </div>

    <!-- <div class="nav-center">
      <a class="nav-item" href="#">
        <span class="icon">
          <i class="fa fa-twitter"></i>
        </span>
      </a>
    </div> -->

    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>

    <div class="nav-right nav-menu">
      {% for about in site.about %}
      <a class="nav-item" href="{{about.url}}">
        {{ about.title }}
      </a>
      {% endfor %}
    </div>
  </div>
</nav>
