<div class="content is-medium">
  <section class="section is-small">
  <h3 class="title is-2">Howdy, I'm Brady.</h3>

  <p>Pleased to meet you, enough with the small talk.</p>

  <p>Included in this blog will be ramblings of many sorts. Projects, Tech, Family, and much more.
  </section>

  {% for about in site.about %}
  <section class="section is-small">
  <div class="container">
    <h3 class="title is-3">
      <a href="/documentation/grid/columns">
        <span class="icon is-medium">
          <i class="fa {{ about.icon }}"></i>
        </span>
        {{ about.title }}
      </a>
    </h3>
    <h4 class="subtitle is-4">{{ about.description }}</h4>
  </div>
  </section>

  {% endfor %}

</div>
