<!DOCTYPE html>
<html>

{% include head.html %}


<section class="hero is-primary is-large bg about">
	<div class="hero-body">
		<div class="container">
			<h1 class="title title-text is-large">
				We Bought a Jungle.
			</h1>
			<h2 class="subtitle">
				Ramblings of a small town family.
			</h2>
		</div>
	</div>
</section>

<div class='container'>
	<section class='section'>
		<div class="columns">
			<div class="column is-9 content">
				{{ content }}
			</div>
			<div class="column is-3">
				{% include section/postLinks.html %}
			</div>
		</div>
	</section>
</div>

<ul class="post-list">
	{% for post in site.posts %}
	<li>
		<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

		<h2>
			<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
		</h2>
	</li>
	{% endfor %}
</ul>

<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</body>
</html>
